/* Style for the entire Accordion */
.accordion {
  margin: 10px; /* Add your desired margin here */
  border: 1px solid #c5b509; /* Add your desired border styles */
  border-radius: 5px; /* Add your desired border radius */

  .FlightLogo{
    margin-left: 30px;
    width: 100%;
  }
  .text1{
    font-weight: bold;
    display: flex;
   
  }
}
* Style for the select container */
.selectContainer {
  flex: 1;
  margin: 10px;
}

/* Style for the select element */
.select {
  width: 100%;
  padding: 1px;
  border: none; /* Remove the border */
  border-radius: 5px;
  /* background-color: #fff; */
}

/* Style for the menu items within the select */
.menuItem {
  display: flex;
  align-items: center;
  color: #333;
}

